{
  "openapi": "3.0.0",
  "info": {
    "description": "<p><span style=\"color: #9F6000; background-color: #FEEFB3; padding:7px;\">&#9888; All APIs executed from this API Explorer are done against your live environment, please execute with caution.</span></p><b>Officially supported API(s)</b> are documented.",
    "title": "VMware Aria Operations API",
    "version": ""
  },
  "servers": [
    {
      "url": "https://www.mgmt.cloud.vmware.com/suite-api"
    }
  ],
  "paths": {
    "/api/actiondefinitions": {
      "get": {
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "others",
            "required": false,
            "schema": {
              "items": {
                "type": "object"
              },
              "type": "array"
            }
          },
          {
            "description": "Page number from which data needs to be displayed (0-based)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Expected number of entries per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 1000,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Filtering action definitions by the availability of being scheduled",
            "in": "query",
            "name": "scheduleEnabled",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"pageInfo\" : {\n    \"totalCount\" : 2,\n    \"page\" : 0,\n    \"pageSize\" : 10\n  },\n  \"links\" : [ {\n    \"href\" : \"/suite-api/api/actiondefinitions?page=0&pageSize=10\",\n    \"rel\" : \"SELF\",\n    \"name\" : \"current\",\n    \"description\" : \"self\"\n  }, {\n    \"href\" : \"/suite-api/api/actiondefinitions?page=0&pageSize=10\",\n    \"rel\" : \"RELATED\",\n    \"name\" : \"first\",\n    \"description\" : \"first\"\n  }, {\n    \"href\" : \"/suite-api/api/actiondefinitions?page=0&pageSize=10\",\n    \"rel\" : \"RELATED\",\n    \"name\" : \"last\",\n    \"description\" : \"last\"\n  } ],\n  \"actionDefinitions\" : [ {\n    \"id\" : \"VMWARE-Power Off VM\",\n    \"displayName\" : \"Power Off VM\",\n    \"type\" : \"UPDATE\",\n    \"actionAdapterKindKey\" : \"VMWARE\",\n    \"contextAdapterKindKey\" : \"VMWARE\",\n    \"contextResourceKindKey\" : \"VirtualMachine\",\n    \"contextIds\" : [ \"PowerOffVM\" ],\n    \"scheduleEnabled\" : true,\n    \"canRecommend\" : true\n  }, {\n    \"id\" : \"VMWARE-Power On VM\",\n    \"displayName\" : \"Power On VM\",\n    \"type\" : \"UPDATE\",\n    \"actionAdapterKindKey\" : \"VMWARE\",\n    \"contextAdapterKindKey\" : \"VMWARE\",\n    \"contextResourceKindKey\" : \"VirtualMachine\",\n    \"contextIds\" : [ \"PowerOnVM\" ],\n    \"scheduleEnabled\" : true,\n    \"canRecommend\" : true\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/action-definitions"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-definitions xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:pageInfo totalCount=\"2\">\n        <ops:page>0</ops:page>\n        <ops:pageSize>10</ops:pageSize>\n    </ops:pageInfo>\n    <ops:links>\n        <ops:link href=\"/suite-api/api/actiondefinitions?page=0&amp;pageSize=10\" rel=\"SELF\" name=\"current\">\n            <ops:description>self</ops:description>\n        </ops:link>\n        <ops:link href=\"/suite-api/api/actiondefinitions?page=0&amp;pageSize=10\" rel=\"RELATED\" name=\"first\">\n            <ops:description>first</ops:description>\n        </ops:link>\n        <ops:link href=\"/suite-api/api/actiondefinitions?page=0&amp;pageSize=10\" rel=\"RELATED\" name=\"last\">\n            <ops:description>last</ops:description>\n        </ops:link>\n    </ops:links>\n    <ops:action-definition id=\"VMWARE-Power Off VM\" type=\"UPDATE\" canRecommend=\"true\">\n        <ops:displayName>Power Off VM</ops:displayName>\n        <ops:actionAdapterKindKey>VMWARE</ops:actionAdapterKindKey>\n        <ops:contextAdapterKindKey>VMWARE</ops:contextAdapterKindKey>\n        <ops:contextResourceKindKey>VirtualMachine</ops:contextResourceKindKey>\n        <ops:contextIds>PowerOffVM</ops:contextIds>\n        <ops:scheduleEnabled>true</ops:scheduleEnabled>\n    </ops:action-definition>\n    <ops:action-definition id=\"VMWARE-Power On VM\" type=\"UPDATE\" canRecommend=\"true\">\n        <ops:displayName>Power On VM</ops:displayName>\n        <ops:actionAdapterKindKey>VMWARE</ops:actionAdapterKindKey>\n        <ops:contextAdapterKindKey>VMWARE</ops:contextAdapterKindKey>\n        <ops:contextResourceKindKey>VirtualMachine</ops:contextResourceKindKey>\n        <ops:contextIds>PowerOnVM</ops:contextIds>\n        <ops:scheduleEnabled>true</ops:scheduleEnabled>\n    </ops:action-definition>\n</ops:action-definitions>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/action-definitions"
                }
              }
            },
            "description": "List of ActionDefinitions in the system"
          }
        },

        "tags": [
          "Actions"
        ],
        "deprecated": false,
        "description": "Performing a <code>GET /api/actiondefinitions</code> call will query for   \navailable Actions defined in the system. This includes the data needed \nto populate an <i>Action</i> in the system.<br>",
        "operationId": "getAllActionsUsingGET",
        "summary": "Look up Action Definitions in the system"
      }
    },
    "/api/actions/{id}": {
      "post": {
        "parameters": [
          {
            "description": "The id for the action to be executed (can be retrieved via: GET /api/actiondefinitions)",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"values\" : [ \"e1c015da-5c50-46e0-89c4-72a34f449bab\" ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/str-values"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:str-values xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:values>d9ea4f0f-96a4-4841-b994-d78868dff375</ops:values>\n</ops:str-values>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/str-values"
                }
              }
            },
            "description": "List of Task Ids for the action run."
          }
        },

        "tags": [
          "Actions"
        ],
        "deprecated": false,
        "description": "<br>Performing a <code>POST /api/actions/{id}</code> will attempt to trigger the \naction with specified id. It is considered a best practice to use the <i>actionExecution</i> field from the\n<code>POST /api/action/{id}/query</code> that has been previously executed to populate      \nthe body of the request. Please note that additional values may be required in order to make\nthe <i>populateAction</i> response body valid.<br>",
        "operationId": "performActionUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/action-execution"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/action-execution"
              }
            }
          },
          "description": "Describe instance data about performing an action."
        },
        "summary": "Perform an Action on one or more resources"
      }
    },
    "/api/actions/{id}/query": {
      "post": {
        "parameters": [
          {
            "description": "The Id for the action to be populate.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"id\" : \"VMWARE-Power Off VM\",\n  \"actionContext\" : {\n    \"id\" : \"Power Off VM\",\n    \"fields\" : [ {\n      \"id\" : \"Name\",\n      \"name\" : \"VM Name\",\n      \"component\" : \"textfield\",\n      \"input\" : false,\n      \"displayOrder\" : 0,\n      \"hidden\" : false,\n      \"expressionResults\" : [ \"MyVMName\" ]\n    } ]\n  },\n  \"methodParameters\" : [ {\n    \"id\" : \"mOR\",\n    \"dataType\" : \"String\",\n    \"isRequired\" : true,\n    \"isList\" : false\n  } ],\n  \"action-execution\" : {\n    \"contextId\" : \"PowerOffVM\",\n    \"contextResourceId\" : [ \"7e780215-da07-4da1-9167-cd6892dcfdd8\" ],\n    \"parameterGroup\" : [ {\n      \"resourceId\" : \"7e780215-da07-4da1-9167-cd6892dcfdd8\"\n    } ]\n  }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/populated-action"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:populated-action id=\"VMWARE-Power Off VM\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:actionContext id=\"Power Off VM\">\n        <ops:fields>\n            <ops:field id=\"Name\" name=\"VM Name\" component=\"textfield\" input=\"false\" displayOrder=\"0\" hidden=\"false\">\n                <ops:expressionResults>\n                    <ops:expressionResult>MyVMName</ops:expressionResult>\n                </ops:expressionResults>\n            </ops:field>\n        </ops:fields>\n    </ops:actionContext>\n    <ops:methodParameters>\n        <ops:methodParameter id=\"mOR\" dataType=\"String\" isRequired=\"true\" isList=\"false\"/>\n    </ops:methodParameters>\n    <ops:action-execution contextId=\"PowerOffVM\">\n        <ops:contextResourceId>7e780215-da07-4da1-9167-cd6892dcfdd8</ops:contextResourceId>\n        <ops:parameterGroup resourceId=\"7e780215-da07-4da1-9167-cd6892dcfdd8\"/>\n    </ops:action-execution>\n</ops:populated-action>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/populated-action"
                }
              }
            },
            "description": "The populated action information"
          }
        },

        "tags": [
          "Actions"
        ],
        "deprecated": false,
        "description": "<br>Performing a <code>POST /api/actions/{id}/query</code> would yield a response object that    \nincludes the resources that the action would apply to with the populated values of each action   \ncontext field for the resource.  The response contains information about the parameters to the   \naction's method.  It also includes a sample input that would be used for running the action with \n<code>POST /api/actions/{id}</code> if you chose to run it on all applicable resources           \nand not change the default input values.<br>                                                     <br>The json result inside actionExecution can be used directly as input perform the action.  In the xml\nresult, the xml element ops:action-execution will need namespace binding added to it in order to use it \nin the request.\n<code>xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\"</code> \n",
        "operationId": "populateActionUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/action-population"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/action-population"
              }
            }
          },
          "description": "The additional information needed to populate the action.",
          "required": true
        },
        "summary": "Populate the information needed to run an action"
      }
    },
    "/api/actions/{taskId}/status": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "Information about action status objects",
            "example": false,
            "in": "query",
            "name": "detail",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Action identifier (result of the action: POST /api/actions/{id})",
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"taskId\" : \"760730bd-4be0-4340-83c7-aec8a9c3dc86\",\n  \"name\" : \"VMWARE-Power Off VM\",\n  \"state\" : \"Completed\",\n  \"resourceKind\" : \"Virtual Machine\",\n  \"submittedBy\" : \"admin\",\n  \"authSource\" : \"LOCAL\",\n  \"startDate\" : \"2019-12-05T09:57:20.439Z\",\n  \"completeDate\" : \"2019-12-05T09:57:22.439Z\",\n  \"actionResult\" : \"ActionResult\",\n  \"messages\" : [ {\n    \"message\" : \"Cannot power Off: Another task is already in progress\",\n    \"level\" : \"ERROR\",\n    \"timestamp\" : \"2019-12-05T09:57:20.439Z\"\n  }, {\n    \"message\" : \"The operation is not allowed in current state\",\n    \"level\" : \"WARN\",\n    \"timestamp\" : \"2019-12-05T09:57:20.439Z\"\n  }, {\n    \"message\" : \"The virtual machine is powered Off\",\n    \"level\" : \"INFO\",\n    \"timestamp\" : \"2019-12-05T09:57:20.439Z\"\n  } ],\n  \"triggeredAutomatically\" : true,\n  \"triggeringSource\" : \"Source\",\n  \"triggeringEventId\" : \"f95f70a4-e08c-46e7-aed0-6792b337ac0e\",\n  \"triggeringEventName\" : \"Virtual machine disk I/O write latency is high\",\n  \"triggeringSourceEvent\" : \"Source Event\",\n  \"actionObjectStatuses\" : [ {\n    \"id\" : \"67e51aba-bdf9-4787-b43d-0daee2eb6c28\",\n    \"state\" : \"COMPLETED_SUCCESSFULLY\",\n    \"creationDate\" : \"2019-12-05T09:57:20.439Z\",\n    \"messages\" : [ {\n      \"message\" : \"Cannot power On VM 'VM-1'\",\n      \"level\" : \"ERROR\",\n      \"timestamp\" : \"2019-12-05T09:57:20.439Z\"\n    }, {\n      \"message\" : \"The operation is not allowed in current state\",\n      \"level\" : \"WARN\",\n      \"timestamp\" : \"2019-12-05T09:57:20.439Z\"\n    }, {\n      \"message\" : \"Powering on VM 'VM-1'\",\n      \"level\" : \"INFO\",\n      \"timestamp\" : \"2019-12-05T09:57:20.439Z\"\n    } ]\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/action-status-info"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:action-status-info taskId=\"3cc83dfb-95e7-47e7-a2d9-90c42b43bd40\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>VMWARE-Power Off VM</ops:name>\n    <ops:state>Completed</ops:state>\n    <ops:resourceKind>Virtual Machine</ops:resourceKind>\n    <ops:submittedBy>admin</ops:submittedBy>\n    <ops:authSource>LOCAL</ops:authSource>\n    <ops:startDate>2019-12-05T09:57:20.439Z</ops:startDate>\n    <ops:completeDate>2019-12-05T09:57:22.439Z</ops:completeDate>\n    <ops:actionResult>ActionResult</ops:actionResult>\n    <ops:messages>\n        <ops:message>\n            <ops:message>Cannot power Off: Another task is already in progress</ops:message>\n            <ops:level>ERROR</ops:level>\n            <ops:timestamp>2019-12-05T09:57:20.439Z</ops:timestamp>\n        </ops:message>\n        <ops:message>\n            <ops:message>The operation is not allowed in current state</ops:message>\n            <ops:level>WARN</ops:level>\n            <ops:timestamp>2019-12-05T09:57:20.439Z</ops:timestamp>\n        </ops:message>\n        <ops:message>\n            <ops:message>The virtual machine is powered Off</ops:message>\n            <ops:level>INFO</ops:level>\n            <ops:timestamp>2019-12-05T09:57:20.439Z</ops:timestamp>\n        </ops:message>\n    </ops:messages>\n    <ops:triggeredAutomatically>true</ops:triggeredAutomatically>\n    <ops:triggeringSource>Source</ops:triggeringSource>\n    <ops:triggeringEventId>baa31d46-dbbf-4aa2-8429-3fcc21d17b26</ops:triggeringEventId>\n    <ops:triggeringEventName>Virtual machine disk I/O write latency is high</ops:triggeringEventName>\n    <ops:triggeringSourceEvent>Source Event</ops:triggeringSourceEvent>\n    <ops:actionObjectStatuses>\n        <ops:action-object-status id=\"2ed30486-66f8-440a-9df3-b9217b78d21b\">\n            <ops:state>COMPLETED_SUCCESSFULLY</ops:state>\n            <ops:creationDate>2019-12-05T09:57:20.439Z</ops:creationDate>\n            <ops:messages>\n                <ops:message>\n                    <ops:message>Cannot power On VM 'VM-1'</ops:message>\n                    <ops:level>ERROR</ops:level>\n                    <ops:timestamp>2019-12-05T09:57:20.439Z</ops:timestamp>\n                </ops:message>\n                <ops:message>\n                    <ops:message>The operation is not allowed in current state</ops:message>\n                    <ops:level>WARN</ops:level>\n                    <ops:timestamp>2019-12-05T09:57:20.439Z</ops:timestamp>\n                </ops:message>\n                <ops:message>\n                    <ops:message>Powering on VM 'VM-1'</ops:message>\n                    <ops:level>INFO</ops:level>\n                    <ops:timestamp>2019-12-05T09:57:20.439Z</ops:timestamp>\n                </ops:message>\n            </ops:messages>\n        </ops:action-object-status>\n    </ops:actionObjectStatuses>\n</ops:action-status-info>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/action-status-info"
                }
              }
            },
            "description": "The populated action information"
          }
        },

        "tags": [
          "Actions"
        ],
        "deprecated": false,
        "description": "The response contains information about the action status by the given taskId",
        "operationId": "getActionStatusUsingGET",
        "summary": "Get action status by the given task Id"
      }
    },
    "/api/adapterkinds": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "Optional list of identifiers to filter by",
            "explode": true,
            "in": "query",
            "name": "adapterKindKey",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report resource-kind-keys",
            "in": "query",
            "name": "retrieveResourceKindInfos",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"adapter-kind\" : [ {\n    \"key\" : \"VMWARE\",\n    \"name\" : \"vCenter Adapter\",\n    \"description\" : \"VMWare vCenter Adapter\",\n    \"adapterKindType\" : \"GENERAL\",\n    \"describeVersion\" : 100\n  }, {\n    \"key\" : \"vCenter Operations Adapter\",\n    \"name\" : \"vCenter Operations Adapter\",\n    \"description\" : \"vC Ops Adapter for self-monitoring\",\n    \"adapterKindType\" : \"GENERAL\",\n    \"describeVersion\" : 101\n  }, {\n    \"key\" : \"HttpPost\",\n    \"name\" : \"HTTP Post\",\n    \"adapterKindType\" : \"OPENAPI\"\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-kinds"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-kinds xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:adapter-kind key=\"VMWARE\">\n        <ops:name>vCenter Adapter</ops:name>\n        <ops:description>VMWare vCenter Adapter</ops:description>\n        <ops:adapterKindType>GENERAL</ops:adapterKindType>\n        <ops:describeVersion>100</ops:describeVersion>\n    </ops:adapter-kind>\n    <ops:adapter-kind key=\"vCenter Operations Adapter\">\n        <ops:name>vCenter Operations Adapter</ops:name>\n        <ops:description>vC Ops Adapter for self-monitoring</ops:description>\n        <ops:adapterKindType>GENERAL</ops:adapterKindType>\n        <ops:describeVersion>101</ops:describeVersion>\n    </ops:adapter-kind>\n    <ops:adapter-kind key=\"HttpPost\">\n        <ops:name>HTTP Post</ops:name>\n        <ops:description></ops:description>\n        <ops:adapterKindType>OPENAPI</ops:adapterKindType>\n    </ops:adapter-kind>\n</ops:adapter-kinds>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-kinds"
                }
              }
            },
            "description": "The Adapter Kinds defined within VMware Aria Operations"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "Get Adapter Types identified by the specified identifiers or all if 'null' is specified",
        "operationId": "getAdapterTypesUsingGET",
        "summary": "Get Adapter Types"
      }
    },
    "/api/adapterkinds/{adapterKindKey}/resourcekinds/{resourceKindKey}": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind Identifier",
            "in": "path",
            "name": "adapterKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The Resource Kind Identifier",
            "in": "path",
            "name": "resourceKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"key\" : \"VirtualMachine\",\n  \"name\" : \"VirtualMachine\",\n  \"adapterKind\" : \"VMWARE\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kind"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:resource-kind key=\"VirtualMachine\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>VirtualMachine</ops:name>\n    <ops:adapterKind>VMWARE</ops:adapterKind>\n</ops:resource-kind>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kind"
                }
              }
            },
            "description": "The Resource Kind"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "Get a specific Resource Kind supported by a specific Adapter Kind",
        "operationId": "getResourceTypeForAdapterTypeUsingGET",
        "summary": "Get a specific Resource Kind supported by a specific Adapter Kind"
      }
    },
    "/api/adapterkinds/{adapterKindKey}/resourcekinds/{resourceKindKey}/properties": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind Identifier",
            "in": "path",
            "name": "adapterKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional list of property names to filter by",
            "explode": true,
            "in": "query",
            "name": "properties",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The Resource Kind Identifier",
            "in": "path",
            "name": "resourceKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report names in all localizations",
            "example": false,
            "in": "query",
            "name": "retrieveAllLocalizations",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report attribute keys or no.",
            "example": false,
            "in": "query",
            "name": "retrieveAttributeKeys",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceTypeAttributes\" : [ {\n    \"key\" : \"key-1\",\n    \"description\" : \"Some description\",\n    \"defaultMonitored\" : false,\n    \"rollupType\" : \"LATEST\",\n    \"instanceType\" : \"INSTANCED\",\n    \"unit\" : \"units\",\n    \"dataType\" : \"INTEGER\",\n    \"monitoring\" : true,\n    \"dtSubType\" : \"common\",\n    \"property\" : true\n  }, {\n    \"key\" : \"key-2\",\n    \"description\" : \"Some description\",\n    \"defaultMonitored\" : false,\n    \"rollupType\" : \"LATEST\",\n    \"instanceType\" : \"INSTANCED\",\n    \"unit\" : \"units\",\n    \"dataType\" : \"INTEGER\",\n    \"monitoring\" : true,\n    \"dtSubType\" : \"common\",\n    \"property\" : true\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kind-attributes"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:resource-kind-attributes xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resource-kind-attribute>\n        <ops:key>key-1</ops:key>\n        <ops:description>Some description</ops:description>\n        <ops:defaultMonitored>false</ops:defaultMonitored>\n        <ops:rollupType>LATEST</ops:rollupType>\n        <ops:instanceType>INSTANCED</ops:instanceType>\n        <ops:unit>units</ops:unit>\n        <ops:dataType>INTEGER</ops:dataType>\n        <ops:monitoring>true</ops:monitoring>\n        <ops:dtSubType>common</ops:dtSubType>\n        <ops:property>true</ops:property>\n    </ops:resource-kind-attribute>\n    <ops:resource-kind-attribute>\n        <ops:key>key-2</ops:key>\n        <ops:description>Some description</ops:description>\n        <ops:defaultMonitored>false</ops:defaultMonitored>\n        <ops:rollupType>LATEST</ops:rollupType>\n        <ops:instanceType>INSTANCED</ops:instanceType>\n        <ops:unit>units</ops:unit>\n        <ops:dataType>INTEGER</ops:dataType>\n        <ops:monitoring>true</ops:monitoring>\n        <ops:dtSubType>common</ops:dtSubType>\n        <ops:property>true</ops:property>\n    </ops:resource-kind-attribute>\n</ops:resource-kind-attributes>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kind-attributes"
                }
              }
            },
            "description": "The Resource Attribute Type List"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "Supports optional parameters to get specific Resource Type Properties",
        "operationId": "getResourceTypePropertiesForAdapterTypeUsingGET",
        "summary": "Get the meta-data for properties for a specific Resource Kind supported by a specific Adapter Kind"
      }
    },
    "/api/adapterkinds/{adapterKindKey}/resourcekinds/{resourceKindKey}/resources": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind Identifier",
            "in": "path",
            "name": "adapterKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Key,value pairs representing the resource identifiers of a Resource",
            "in": "query",
            "name": "identifiers",
            "required": false,
            "schema": {
              "type": "map[string,string]"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The Resource Name (partial match)",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number from which data needs to be displayed (0-based)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Expected number of entries per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 1000,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The Resource Kind Identifier",
            "in": "path",
            "name": "resourceKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "No Custom Example is Available"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resources"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "No Custom Example is Available"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resources"
                }
              }
            },
            "description": "The set of Resources"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "Optionally filter these resources based on resource name. The resource name (specified as a query parameter) will be used for doing a partial match. However, if the resource identifiers and their values are specified, <i>name</i> is ignored and the API enforces all the mandatory (both uniquely identifying and required) identifiers are specified. This allows for looking up a single resource using a ResourceKey and allows the translation between a ResourceKey and a Resource UUID.\n\nExample how to use the <i>identifiers</i> parameter (currently it cannot be used in our Swagger documentation): \n<i> /api/adapterkinds/{adapterKindKey}/resourcekinds/{resourceKindKey}/resources?identifiers[key1]=value1&identifiers[key2]=value2</i>",
        "operationId": "getResourcesWithAdapterAndResourceKindUsingGET",
        "summary": "Query for Resources within a particular Adapter Kind and Resource Kind "
      }
    },
    "/api/adapterkinds/{adapterKindKey}/resourcekinds/{resourceKindKey}/statkeys": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind Identifier",
            "in": "path",
            "name": "adapterKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional list of attribute-keys to filter by",
            "explode": true,
            "in": "query",
            "name": "attributeKeys",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "The Resource Kind Identifier",
            "in": "path",
            "name": "resourceKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report names in all localizations",
            "example": false,
            "in": "query",
            "name": "retrieveAllLocalizations",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report attribute keys or no.",
            "example": false,
            "in": "query",
            "name": "retrieveAttributeKeys",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that indicate whether need to return only stats or stats and properties together",
            "in": "query",
            "name": "statOnly",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceTypeAttributes\" : [ {\n    \"key\" : \"key-1\",\n    \"description\" : \"Some description\",\n    \"defaultMonitored\" : false,\n    \"rollupType\" : \"LATEST\",\n    \"instanceType\" : \"INSTANCED\",\n    \"unit\" : \"units\",\n    \"dataType\" : \"INTEGER\",\n    \"monitoring\" : true,\n    \"dtSubType\" : \"common\",\n    \"property\" : true\n  }, {\n    \"key\" : \"key-2\",\n    \"description\" : \"Some description\",\n    \"defaultMonitored\" : false,\n    \"rollupType\" : \"LATEST\",\n    \"instanceType\" : \"INSTANCED\",\n    \"unit\" : \"units\",\n    \"dataType\" : \"INTEGER\",\n    \"monitoring\" : true,\n    \"dtSubType\" : \"common\",\n    \"property\" : true\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kind-attributes"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:resource-kind-attributes xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resource-kind-attribute>\n        <ops:key>key-1</ops:key>\n        <ops:description>Some description</ops:description>\n        <ops:defaultMonitored>false</ops:defaultMonitored>\n        <ops:rollupType>LATEST</ops:rollupType>\n        <ops:instanceType>INSTANCED</ops:instanceType>\n        <ops:unit>units</ops:unit>\n        <ops:dataType>INTEGER</ops:dataType>\n        <ops:monitoring>true</ops:monitoring>\n        <ops:dtSubType>common</ops:dtSubType>\n        <ops:property>true</ops:property>\n    </ops:resource-kind-attribute>\n    <ops:resource-kind-attribute>\n        <ops:key>key-2</ops:key>\n        <ops:description>Some description</ops:description>\n        <ops:defaultMonitored>false</ops:defaultMonitored>\n        <ops:rollupType>LATEST</ops:rollupType>\n        <ops:instanceType>INSTANCED</ops:instanceType>\n        <ops:unit>units</ops:unit>\n        <ops:dataType>INTEGER</ops:dataType>\n        <ops:monitoring>true</ops:monitoring>\n        <ops:dtSubType>common</ops:dtSubType>\n        <ops:property>true</ops:property>\n    </ops:resource-kind-attribute>\n</ops:resource-kind-attributes>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kind-attributes"
                }
              }
            },
            "description": "The Resource Attribute Type List"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "Supports optional parameters to get specific Resource Type Attributes",
        "operationId": "getResourceTypeAttributesForAdapterTypeUsingGET",
        "summary": "Get the meta-data for attributes (excluding properties) for a specific Resource Kind supported by a specific Adapter Kind"
      }
    },
    "/api/adapterkinds/{adapterKindKey}/resources": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind Identifier",
            "in": "path",
            "name": "adapterKindKey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number from which data needs to be displayed (0-based)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Expected number of entries per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 1000,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "No Custom Example is Available"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resources"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "No Custom Example is Available"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resources"
                }
              }
            },
            "description": "The set of Resources"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "This API provides the Resources by passing specified Adapter Kind Key",
        "operationId": "getResourcesWithAdapterKindUsingGET",
        "summary": "Query for Resources of a particular Adapter Kind"
      }
    },
    "/api/adapterkinds/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind Identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report resource-kind-keys",
            "in": "query",
            "name": "retrieveResourceKindInfos",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"key\" : \"VMWARE\",\n  \"name\" : \"vCenter Adapter\",\n  \"description\" : \"VMWare vCenter Adapter\",\n  \"adapterKindType\" : \"GENERAL\",\n  \"describeVersion\" : 100\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-kind"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-kind key=\"VMWARE\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:name>vCenter Adapter</ops:name>\n    <ops:description>VMWare vCenter Adapter</ops:description>\n    <ops:adapterKindType>GENERAL</ops:adapterKindType>\n    <ops:describeVersion>100</ops:describeVersion>\n</ops:adapter-kind>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-kind"
                }
              }
            },
            "description": "The detailed information about the Adapter Kind"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "This API provides the Adapter Kinds by passing specified identifier",
        "operationId": "getAdapterTypeUsingGET",
        "summary": "Get an Adapter Kind using the specified identifier"
      }
    },
    "/api/adapterkinds/{key}/resourcekinds": {
      "get": {
        "parameters": [
          {
            "description": "The identifier of the adapter kind",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number from which data needs to be displayed (0-based)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Expected number of entries per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 1000,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The Category to which a Resource Kind belongs to",
            "in": "query",
            "name": "resourceKindType",
            "required": false,
            "schema": {
              "enum": [
                "GENERAL",
                "BUSINESS_SERVICE",
                "TIER",
                "TAG",
                "ADAPTER_INSTANCE",
                "GROUP",
                "APPLICATION",
                "NONE"
              ],
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Optional param that specifies whether need to report names in all localizations",
            "example": false,
            "in": "query",
            "name": "retrieveAllLocalizations",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"adapterKind\" : \"VMWARE\",\n  \"resource-kind\" : [ {\n    \"key\" : \"Datacenter\",\n    \"name\" : \"Datacenter\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"ClusterComputeResource\",\n    \"name\" : \"ClusterComputeResource\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"HostSystem\",\n    \"name\" : \"HostSystem\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"ResourcePool\",\n    \"name\" : \"ResourcePool\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"VirtualMachine\",\n    \"name\" : \"VirtualMachine\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"Datastore\",\n    \"name\" : \"Datastore\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"VmwareDistributedVirtualSwitch\",\n    \"name\" : \"VmwareDistributedVirtualSwitch\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"StoragePod\",\n    \"name\" : \"StoragePod\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"Folder\",\n    \"name\" : \"Folder\",\n    \"adapterKind\" : \"VMWARE\"\n  }, {\n    \"key\" : \"VMwareAdapter Instance\",\n    \"name\" : \"VMwareAdapter Instance\",\n    \"adapterKind\" : \"VMWARE\"\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kinds"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:resource-kinds xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:adapterKind>VMWARE</ops:adapterKind>\n    <ops:resource-kind key=\"Datacenter\">\n        <ops:name>Datacenter</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"ClusterComputeResource\">\n        <ops:name>ClusterComputeResource</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"HostSystem\">\n        <ops:name>HostSystem</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"ResourcePool\">\n        <ops:name>ResourcePool</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"VirtualMachine\">\n        <ops:name>VirtualMachine</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"Datastore\">\n        <ops:name>Datastore</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"VmwareDistributedVirtualSwitch\">\n        <ops:name>VmwareDistributedVirtualSwitch</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"StoragePod\">\n        <ops:name>StoragePod</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"Folder\">\n        <ops:name>Folder</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n    <ops:resource-kind key=\"VMwareAdapter Instance\">\n        <ops:name>VMwareAdapter Instance</ops:name>\n        <ops:adapterKind>VMWARE</ops:adapterKind>\n    </ops:resource-kind>\n</ops:resource-kinds>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resource-kinds"
                }
              }
            },
            "description": "The Resource Kinds of this Adapter"
          }
        },

        "tags": [
          "Adapter Kinds"
        ],
        "deprecated": false,
        "description": "Contains optional parameter that specifies whether there is a need to report names in all localizations",
        "operationId": "getResourceTypesForAdapterTypeUsingGET",
        "summary": "Get all the Resource Kinds supported by a specific Adapter Kind"
      }
    },
    "/api/adapters": {
      "get": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "If this parameter is specified, the API returns only instances of this Adapter Kind.",
            "in": "query",
            "name": "adapterKindKey",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"adapterInstancesInfoDto\" : [ {\n    \"resourceKey\" : {\n      \"name\" : \"VC Adapter for 10.20.88.111\",\n      \"adapterKindKey\" : \"VMWARE\",\n      \"resourceKindKey\" : \"Adapter\"\n    },\n    \"description\" : \"A vCenter Adapter Instance\",\n    \"collectorId\" : 1,\n    \"credentialInstanceId\" : \"73eebef4-e1e7-4844-acc3-d2ed7ffced16\",\n    \"id\" : \"bc61d62f-eb81-42ab-9698-6eee5da33fd1\"\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instances"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-instances xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:adapter-instance id=\"b87d6e39-7b97-4198-9885-72aa9e73e04d\">\n        <ops:resourceKey>\n            <ops:name>VC Adapter for 10.20.88.111</ops:name>\n            <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n            <ops:resourceKindKey>Adapter</ops:resourceKindKey>\n            <ops:resourceIdentifiers/>\n        </ops:resourceKey>\n        <ops:description>A vCenter Adapter Instance</ops:description>\n        <ops:collectorId>1</ops:collectorId>\n        <ops:credentialInstanceId>d56273d0-d92d-4da5-899e-92f8cbb77668</ops:credentialInstanceId>\n    </ops:adapter-instance>\n</ops:adapter-instances>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instances"
                }
              }
            },
            "description": "The adapter instances managed by the system."
          },
          "404": {
            "description": "No adapter instance is found with the specified identifier"
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "If Adapter Kind is passed as parameter, the API returns only the instances of that Adapter Kind",
        "operationId": "enumerateAdapterInstancesUsingGET",
        "summary": "Get all the adapter instance resources in the system"
      },
      "patch": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceKey\" : {\n    \"name\" : \"VC Adapter for 10.20.88.111\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"Adapter\"\n  },\n  \"description\" : \"A vCenter Adapter Instance\",\n  \"collectorId\" : 1,\n  \"credentialInstanceId\" : \"f0f324ee-3e87-464a-a548-a178e3d0004b\",\n  \"id\" : \"2508cccc-ccb8-48bd-acfc-1ddb89f860ed\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-instance id=\"00ed30e9-d859-4d2e-8cda-39f33922fee6\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resourceKey>\n        <ops:name>VC Adapter for 10.20.88.111</ops:name>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>Adapter</ops:resourceKindKey>\n        <ops:resourceIdentifiers/>\n    </ops:resourceKey>\n    <ops:description>A vCenter Adapter Instance</ops:description>\n    <ops:collectorId>1</ops:collectorId>\n    <ops:credentialInstanceId>d182e91d-df07-402f-9528-e9cdd3f77e00</ops:credentialInstanceId>\n</ops:adapter-instance>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              }
            },
            "description": "The adapter instance that was updated"
          },
          "400": {
            "description": "If <b>patch</b> 'adapter instance' failed. Typically the service will return extra information as to why update failed."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "This is typically used to indicate VMware Aria operations that the certificates presented by \nthe (data source for which the adapter instance) was created are indeed valid                     \ncertificates.                                                                               \nTypically the response of the <code>POST /api/adapters</code> API in its entirety needs to be    \nsent as request body when making this <code>PATCH /api/adapters</code> API invocation. \n<b>NOTE:</b> In case the provided certificate list is empty, the adapter instance self-signed certificates will be reset.",
        "operationId": "patchAdapterInstanceUsingPATCH",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/adapter-instance"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/adapter-instance"
              }
            }
          },
          "description": "The adapter instance creation request.",
          "required": true
        },
        "summary": "Patch an Adapter Instance"
      },
      "post": {
        "parameters": [
          {
            "allowEmptyValue": false,
            "description": "Indicates whether need to return default value or null in a result for\nidentifiers that have no/null value in request body",
            "example": false,
            "in": "query",
            "name": "extractIdentifierDefaults",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Proceed with adapter instance creation even if connection is not established",
            "in": "query",
            "name": "force",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceKey\" : {\n    \"name\" : \"VC Adapter for 10.20.88.111\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"Adapter\"\n  },\n  \"description\" : \"A vCenter Adapter Instance\",\n  \"collectorId\" : 1,\n  \"credentialInstanceId\" : \"fca06e6e-5447-48a3-9c86-3d726c31d680\",\n  \"id\" : \"ae53bd7e-7afe-4e89-9057-000b07d75c45\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-instance id=\"5fa9f7d9-dcb7-4b84-807b-575b0256c6e7\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resourceKey>\n        <ops:name>VC Adapter for 10.20.88.111</ops:name>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>Adapter</ops:resourceKindKey>\n        <ops:resourceIdentifiers/>\n    </ops:resourceKey>\n    <ops:description>A vCenter Adapter Instance</ops:description>\n    <ops:collectorId>1</ops:collectorId>\n    <ops:credentialInstanceId>c92075b9-da64-4d94-a68e-65a919acbaa7</ops:credentialInstanceId>\n</ops:adapter-instance>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              }
            },
            "description": "The adapter instance that was created"
          },
          "400": {
            "description": "If <b>create</b> 'adapter instance' failed. Typically the service will return extra information as to why the creation failed."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Pass the not-required parameters to indicate whether need to return default value or null in a result for identifiers that have no/null value in request body and continue instantiating adapter even if no connection is established",
        "operationId": "createAdapterInstanceUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-adapter-instance"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/create-adapter-instance"
              }
            }
          },
          "description": "The adapter instance creation request",
          "required": true
        },
        "summary": "Create an Adapter Instance"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceKey\" : {\n    \"name\" : \"VC Adapter for 10.20.88.111\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"Adapter\"\n  },\n  \"description\" : \"A vCenter Adapter Instance\",\n  \"collectorId\" : 1,\n  \"credentialInstanceId\" : \"419ba334-10d2-45a8-b280-dc522a5d396b\",\n  \"id\" : \"b622f818-b282-4e72-afbd-0d6b0490aca7\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-instance id=\"809a8c99-d7f3-4721-a8ef-722e48219f00\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resourceKey>\n        <ops:name>VC Adapter for 10.20.88.111</ops:name>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>Adapter</ops:resourceKindKey>\n        <ops:resourceIdentifiers/>\n    </ops:resourceKey>\n    <ops:description>A vCenter Adapter Instance</ops:description>\n    <ops:collectorId>1</ops:collectorId>\n    <ops:credentialInstanceId>54a0c04d-4468-4276-92ed-5b7699677778</ops:credentialInstanceId>\n</ops:adapter-instance>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              }
            },
            "description": "The adapter instance that was updated"
          },
          "400": {
            "description": "If <b>update</b> 'adapter instance' failed. Typically the service will return extra information as to why update failed."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "The request body can accept a collectorId or a collectorGroupId, but not both.",
        "operationId": "updateAdapterInstanceUsingPUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/adapter-instance"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/adapter-instance"
              }
            }
          },
          "description": "The adapter instance request for the update",
          "required": true
        },
        "summary": "Update an Adapter Instance"
      }
    },
    "/api/adapters/testConnection": {
      "patch": {
        "responses": {
          "200": {
            "description": "The connection is successful."
          },
          "400": {
            "description": "If <b>Patch</b> 'adapter instance connection' failed. Typically the service will return extra information as to why update failed."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "This is typically used to indicate VMware Aria operations that the certificates presented by \nthe (data source for which the adapter instance) was tested are indeed valid                      \ncertificates.                                                                              \nTypically the response of the <code>POST /api/adapters</code> API in its entirety needs to be    \nsent as request body when making this <code>PATCH /api/adapters</code> API invocation.    ",
        "operationId": "patchTestConnectionUsingPATCH",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/adapter-instance"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/adapter-instance"
              }
            }
          },
          "description": "The adapter instance connection request",
          "required": true
        },
        "summary": "Patch an Adapter Instance Connection"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceKey\" : {\n    \"name\" : \"VC Adapter Instance\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"VMwareAdapter Instance\"\n  },\n  \"description\" : \"A vCenter Adapter Instance\",\n  \"collectorId\" : 1,\n  \"credentialInstanceId\" : \"28ce0cae-6a06-444f-afdd-f4fc7f1207a7\",\n  \"adapter-certificates\" : [ {\n    \"thumbprint\" : \"26df0597-8418-459d-8a97-089cf4bce019\",\n    \"certificateDetails\" : \"Issued by VMware, Inc. Expires: 01/01/2020\"\n  } ],\n  \"id\" : \"b660f346-9404-4b2f-80d3-14bdbf0fe38d\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-instance id=\"0ec9b2fa-3776-4569-884a-388048c8f81d\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resourceKey>\n        <ops:name>VC Adapter Instance</ops:name>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>VMwareAdapter Instance</ops:resourceKindKey>\n        <ops:resourceIdentifiers/>\n    </ops:resourceKey>\n    <ops:description>A vCenter Adapter Instance</ops:description>\n    <ops:collectorId>1</ops:collectorId>\n    <ops:credentialInstanceId>e6223e2d-5f6e-419c-9ef6-499f0533e2de</ops:credentialInstanceId>\n    <ops:adapter-certificates>\n        <ops:adapter-certificate>\n            <ops:thumbprint>e1c64a9d-31a9-42c1-abcd-ed543870bd78</ops:thumbprint>\n            <ops:certificateDetails>Issued by VMware, Inc. Expires: 01/01/2020</ops:certificateDetails>\n        </ops:adapter-certificate>\n    </ops:adapter-certificates>\n</ops:adapter-instance>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              }
            },
            "description": "The adapter instance that was created"
          },
          "400": {
            "description": "If <b>Test</b> 'adapter instance connection' failed. Typically the service will return extra information as to why the creation failed."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Test Adapter Instance connection",
        "operationId": "testConnectionUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create-adapter-instance"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/create-adapter-instance"
              }
            }
          },
          "description": "The adapter instance connection request",
          "required": true
        },
        "summary": "Test Adapter Instance connection"
      }
    },
    "/api/adapters/{adapterId}": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "If set to true, resources discovered by this adapter instance would be deleted as well.",
            "example": false,
            "in": "query",
            "name": "deleteResources",
            "required": true,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The adapter instance is deleted successfully"
          },
          "404": {
            "description": "No adapter instance is found with the specified identifier."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "<b>NOTE:</b> Deleting an adapter instance is <em>not synchronous.</em>",
        "operationId": "deleteAdapterInstanceUsingDELETE",
        "summary": "Delete an Adapter Instance"
      },
      "get": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance in UUID format.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"resourceKey\" : {\n    \"name\" : \"VC Adapter for 10.20.88.111\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"Adapter\"\n  },\n  \"description\" : \"A vCenter Adapter Instance\",\n  \"collectorId\" : 1,\n  \"credentialInstanceId\" : \"339ae4d3-e920-4a3f-a3d0-ddc4d4f96209\",\n  \"id\" : \"823b6a0e-d5b3-44fc-8621-dba4ee85a905\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:adapter-instance id=\"d0229f76-de6a-4975-9d36-dea8b796671c\" xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:resourceKey>\n        <ops:name>VC Adapter for 10.20.88.111</ops:name>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>Adapter</ops:resourceKindKey>\n        <ops:resourceIdentifiers/>\n    </ops:resourceKey>\n    <ops:description>A vCenter Adapter Instance</ops:description>\n    <ops:collectorId>1</ops:collectorId>\n    <ops:credentialInstanceId>4c79b6ac-f507-4864-839b-4570bcaeccdb</ops:credentialInstanceId>\n</ops:adapter-instance>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/adapter-instance"
                }
              }
            },
            "description": "The Adapter Instance for the specified UUID"
          },
          "404": {
            "description": "No adapter instance is found with the specified identifier."
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Returns a specific adapter instance identified by the specified UUID.",
        "operationId": "getAdapterInstanceUsingGET",
        "summary": "Look up a single adapter instance using an identifier"
      }
    },
    "/api/adapters/{adapterId}/maintained": {
      "delete": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The adapter instance is marked as being STARTED successfully"
          },
          "404": {
            "description": "No adapter instance is found with the specified identifier"
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Removes the adapter instance from being in an maintenance window. The adapter instance will be notified to start collection process immediately.",
        "operationId": "unmarkAdapterInstanceAsBeingMaintainedUsingDELETE",
        "summary": "Mark the adapter instance as being STARTED"
      },
      "put": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "The duration in minutes for which this resource will not be monitored.",
            "in": "query",
            "name": "duration",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The adapter instance is marked as being MAINTAINED successfully"
          },
          "404": {
            "description": "No adapter instance is found with the specified identifier"
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "After the duration expires, the adapter instance state is automatically set to <b>STARTED</b>.",
        "operationId": "markAdapterInstanceAsBeingMaintainedUsingPUT",
        "summary": "Mark the adapter instance as being MAINTAINED for the given duration"
      }
    },
    "/api/adapters/{adapterId}/monitoringstate/start": {
      "put": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The adapter instance is started successfully"
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Start the adapter instance from monitoring its resources",
        "operationId": "startMonitoringResourcesOfAdapterInstanceUsingPUT",
        "summary": "Start the adapter instance from monitoring its resources"
      }
    },
    "/api/adapters/{adapterId}/monitoringstate/stop": {
      "put": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The adapter instance is stopped successfully"
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Stop the adapter instance from monitoring its resources",
        "operationId": "stopMonitoringResourcesOfAdapterInstanceUsingPUT",
        "summary": "Stop the adapter instance from monitoring its resources"
      }
    },
    "/api/adapters/{adapterId}/resources": {
      "get": {
        "parameters": [
          {
            "description": "The identifier of the adapter instance.",
            "in": "path",
            "name": "adapterId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Page number from which data needs to be displayed (0-based)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Expected number of entries per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 1000,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "No Custom Example is Available"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resources"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "No Custom Example is Available"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/resources"
                }
              }
            },
            "description": "The list of resources reported by this adapter"
          },
          "404": {
            "description": "No adapter instance is found with the specified identifier"
          }
        },

        "tags": [
          "Adapters"
        ],
        "deprecated": false,
        "description": "Get all resources that are managed by specific Adapter Instance",
        "operationId": "getResourcesOfAdapterInstanceUsingGET",
        "summary": "Enumerate all resources managed by an adapter instance"
      }
    },
    "/api/alertdefinitions": {
      "get": {
        "parameters": [
          {
            "description": "The Adapter Kind key of the Alert Definitions to search for",
            "in": "query",
            "name": "adapterKind",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The identifier(s) of the Alert Definitions to search for.\nDo not specify <i>adapterKind</i> or <i>resourceKind</i> if searching by the identifier",
            "explode": true,
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Page number from which data needs to be displayed (0-based)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Expected number of entries per page",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 1000,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The Resource Kind key of the Alert Definitions to search for",
            "in": "query",
            "name": "resourceKind",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"alertDefinitions\" : [ {\n    \"id\" : \"f080147f-c60d-4f08-8801-b602e2931b6f\",\n    \"name\" : \"High CPU/Memory Usage\",\n    \"description\" : \"CPU or MEM usage too High\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"HostSystem\",\n    \"waitCycles\" : 3,\n    \"cancelCycles\" : 2,\n    \"type\" : 0,\n    \"subType\" : 0,\n    \"states\" : [ {\n      \"severity\" : \"WARNING\",\n      \"base-symptom-set\" : {\n        \"type\" : \"SYMPTOM_SET_COMPOSITE\",\n        \"operator\" : \"AND\",\n        \"symptom-sets\" : [ {\n          \"type\" : \"SYMPTOM_SET\",\n          \"adapterKindKey\" : \"VMWARE\",\n          \"resourceKindKey\" : \"Datastore\",\n          \"relation\" : \"DESCENDANT\",\n          \"aggregation\" : \"ALL\",\n          \"symptomSetOperator\" : \"AND\",\n          \"symptomDefinitionIds\" : [ \"Symptom5\", \"!Symptom6\" ],\n          \"alertConditions\" : [ {\n            \"waitCycles\" : 5,\n            \"cancelCycles\" : 5,\n            \"severity\" : \"CRITICAL\",\n            \"condition\" : {\n              \"type\" : \"CONDITION_HT\",\n              \"key\" : \"cpu|demandmhz\",\n              \"operator\" : \"GT_EQ\",\n              \"valueType\" : \"NUMERIC\",\n              \"instanced\" : false,\n              \"targetKey\" : \"cpu|availablemhz\",\n              \"thresholdType\" : \"STATKEY\"\n            }\n          } ]\n        }, {\n          \"type\" : \"SYMPTOM_SET\",\n          \"relation\" : \"SELF\",\n          \"aggregation\" : \"ALL\",\n          \"symptomSetOperator\" : \"OR\",\n          \"symptomDefinitionIds\" : [ \"Symptom100\", \"Symptom101\" ]\n        } ]\n      },\n      \"impact\" : {\n        \"impactType\" : \"BADGE\",\n        \"detail\" : \"health\"\n      }\n    } ]\n  }, {\n    \"id\" : \"AlertDefinition-147ff080-8801-c60d-4f08-931b6fb602e2\",\n    \"name\" : \"MyAlertDefinition\",\n    \"description\" : \"An Alert Definition associated with ESX host\",\n    \"adapterKindKey\" : \"VMWARE\",\n    \"resourceKindKey\" : \"HostSystem\",\n    \"waitCycles\" : 3,\n    \"cancelCycles\" : 2,\n    \"type\" : 0,\n    \"subType\" : 0,\n    \"states\" : [ {\n      \"severity\" : \"CRITICAL\",\n      \"base-symptom-set\" : {\n        \"type\" : \"SYMPTOM_SET\",\n        \"relation\" : \"SELF\",\n        \"aggregation\" : \"ALL\",\n        \"symptomDefinitionIds\" : [ \"SymptomDefinition-5\" ]\n      },\n      \"impact\" : {\n        \"impactType\" : \"BADGE\",\n        \"detail\" : \"Health\"\n      }\n    } ]\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/alert-definitions"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:alert-definitions xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:alert-definition>\n        <ops:id>f080147f-c60d-4f08-8801-b602e2931b6f</ops:id>\n        <ops:name>High CPU/Memory Usage</ops:name>\n        <ops:description>CPU or MEM usage too High</ops:description>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>HostSystem</ops:resourceKindKey>\n        <ops:waitCycles>3</ops:waitCycles>\n        <ops:cancelCycles>2</ops:cancelCycles>\n        <ops:type>0</ops:type>\n        <ops:subType>0</ops:subType>\n        <ops:states>\n            <ops:state severity=\"WARNING\">\n                <ops:composite-symptom-set>\n                    <ops:operator>AND</ops:operator>\n                    <ops:symptom-sets>\n                        <ops:symptom-set>\n                            <ops:symptomDefinitionIds>\n                                <ops:symptomDefinitionId>Symptom5</ops:symptomDefinitionId>\n                                <ops:symptomDefinitionId>!Symptom6</ops:symptomDefinitionId>\n                            </ops:symptomDefinitionIds>\n                            <ops:alertConditions>\n                                <ops:alertCondition>\n                                    <ops:waitCycles>5</ops:waitCycles>\n                                    <ops:cancelCycles>5</ops:cancelCycles>\n                                    <ops:severity>CRITICAL</ops:severity>\n                                    <ops:condition xsi:type=\"ops:htCondition\">\n                                        <ops:key>cpu|demandmhz</ops:key>\n                                        <ops:operator>GT_EQ</ops:operator>\n                                        <ops:valueType>NUMERIC</ops:valueType>\n                                        <ops:instanced>false</ops:instanced>\n                                        <ops:targetKey>cpu|availablemhz</ops:targetKey>\n                                        <ops:thresholdType>STATKEY</ops:thresholdType>\n                                    </ops:condition>\n                                </ops:alertCondition>\n                            </ops:alertConditions>\n                            <ops:relation>DESCENDANT</ops:relation>\n                            <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n                            <ops:resourceKindKey>Datastore</ops:resourceKindKey>\n                            <ops:aggregation>ALL</ops:aggregation>\n                            <ops:symptomSetOperator>AND</ops:symptomSetOperator>\n                        </ops:symptom-set>\n                        <ops:symptom-set>\n                            <ops:symptomDefinitionIds>\n                                <ops:symptomDefinitionId>Symptom100</ops:symptomDefinitionId>\n                                <ops:symptomDefinitionId>Symptom101</ops:symptomDefinitionId>\n                            </ops:symptomDefinitionIds>\n                            <ops:relation>SELF</ops:relation>\n                            <ops:aggregation>ALL</ops:aggregation>\n                            <ops:symptomSetOperator>OR</ops:symptomSetOperator>\n                        </ops:symptom-set>\n                    </ops:symptom-sets>\n                </ops:composite-symptom-set>\n                <ops:impact>\n                    <ops:impactType>BADGE</ops:impactType>\n                    <ops:detail>health</ops:detail>\n                </ops:impact>\n            </ops:state>\n        </ops:states>\n    </ops:alert-definition>\n    <ops:alert-definition>\n        <ops:id>AlertDefinition-147ff080-8801-c60d-4f08-931b6fb602e2</ops:id>\n        <ops:name>MyAlertDefinition</ops:name>\n        <ops:description>An Alert Definition associated with ESX host</ops:description>\n        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n        <ops:resourceKindKey>HostSystem</ops:resourceKindKey>\n        <ops:waitCycles>3</ops:waitCycles>\n        <ops:cancelCycles>2</ops:cancelCycles>\n        <ops:type>0</ops:type>\n        <ops:subType>0</ops:subType>\n        <ops:states>\n            <ops:state severity=\"CRITICAL\">\n                <ops:symptom-set>\n                    <ops:symptomDefinitionIds>\n                        <ops:symptomDefinitionId>SymptomDefinition-5</ops:symptomDefinitionId>\n                    </ops:symptomDefinitionIds>\n                    <ops:relation>SELF</ops:relation>\n                    <ops:aggregation>ALL</ops:aggregation>\n                </ops:symptom-set>\n                <ops:impact>\n                    <ops:impactType>BADGE</ops:impactType>\n                    <ops:detail>Health</ops:detail>\n                </ops:impact>\n            </ops:state>\n        </ops:states>\n    </ops:alert-definition>\n</ops:alert-definitions>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/alert-definitions"
                }
              }
            },
            "description": "The collection of Alert Definitions"
          }
        },

        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "If the search criteria is not satisfied, the API will return all Alert Definitions",
        "operationId": "getAlertDefinitionsUsingGET",
        "summary": "Get collection of Alert Definitions matching the search criteria specified"
      },
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"id\" : \"f080147f-c60d-4f08-8801-b602e2931b6f\",\n  \"name\" : \"High CPU/Memory Usage\",\n  \"description\" : \"CPU or MEM usage too High\",\n  \"adapterKindKey\" : \"VMWARE\",\n  \"resourceKindKey\" : \"HostSystem\",\n  \"waitCycles\" : 3,\n  \"cancelCycles\" : 2,\n  \"type\" : 0,\n  \"subType\" : 0,\n  \"states\" : [ {\n    \"severity\" : \"WARNING\",\n    \"base-symptom-set\" : {\n      \"type\" : \"SYMPTOM_SET_COMPOSITE\",\n      \"operator\" : \"AND\",\n      \"symptom-sets\" : [ {\n        \"type\" : \"SYMPTOM_SET\",\n        \"adapterKindKey\" : \"VMWARE\",\n        \"resourceKindKey\" : \"Datastore\",\n        \"relation\" : \"DESCENDANT\",\n        \"aggregation\" : \"ALL\",\n        \"symptomSetOperator\" : \"AND\",\n        \"symptomDefinitionIds\" : [ \"Symptom5\", \"!Symptom6\" ],\n        \"alertConditions\" : [ {\n          \"waitCycles\" : 5,\n          \"cancelCycles\" : 5,\n          \"severity\" : \"CRITICAL\",\n          \"condition\" : {\n            \"type\" : \"CONDITION_HT\",\n            \"key\" : \"cpu|demandmhz\",\n            \"operator\" : \"GT_EQ\",\n            \"valueType\" : \"NUMERIC\",\n            \"instanced\" : false,\n            \"targetKey\" : \"cpu|availablemhz\",\n            \"thresholdType\" : \"STATKEY\"\n          }\n        } ]\n      }, {\n        \"type\" : \"SYMPTOM_SET\",\n        \"relation\" : \"SELF\",\n        \"aggregation\" : \"ALL\",\n        \"symptomSetOperator\" : \"OR\",\n        \"symptomDefinitionIds\" : [ \"Symptom100\", \"Symptom101\" ]\n      } ]\n    },\n    \"impact\" : {\n      \"impactType\" : \"BADGE\",\n      \"detail\" : \"health\"\n    }\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/alert-definition"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ops:alert-definition xmlns:ops=\"http://webservice.vmware.com/vRealizeOpsMgr/1.0/\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ops:id>f080147f-c60d-4f08-8801-b602e2931b6f</ops:id>\n    <ops:name>High CPU/Memory Usage</ops:name>\n    <ops:description>CPU or MEM usage too High</ops:description>\n    <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n    <ops:resourceKindKey>HostSystem</ops:resourceKindKey>\n    <ops:waitCycles>3</ops:waitCycles>\n    <ops:cancelCycles>2</ops:cancelCycles>\n    <ops:type>0</ops:type>\n    <ops:subType>0</ops:subType>\n    <ops:states>\n        <ops:state severity=\"WARNING\">\n            <ops:composite-symptom-set>\n                <ops:operator>AND</ops:operator>\n                <ops:symptom-sets>\n                    <ops:symptom-set>\n                        <ops:symptomDefinitionIds>\n                            <ops:symptomDefinitionId>Symptom5</ops:symptomDefinitionId>\n                            <ops:symptomDefinitionId>!Symptom6</ops:symptomDefinitionId>\n                        </ops:symptomDefinitionIds>\n                        <ops:alertConditions>\n                            <ops:alertCondition>\n                                <ops:waitCycles>5</ops:waitCycles>\n                                <ops:cancelCycles>5</ops:cancelCycles>\n                                <ops:severity>CRITICAL</ops:severity>\n                                <ops:condition xsi:type=\"ops:htCondition\">\n                                    <ops:key>cpu|demandmhz</ops:key>\n                                    <ops:operator>GT_EQ</ops:operator>\n                                    <ops:valueType>NUMERIC</ops:valueType>\n                                    <ops:instanced>false</ops:instanced>\n                                    <ops:targetKey>cpu|availablemhz</ops:targetKey>\n                                    <ops:thresholdType>STATKEY</ops:thresholdType>\n                                </ops:condition>\n                            </ops:alertCondition>\n                        </ops:alertConditions>\n                        <ops:relation>DESCENDANT</ops:relation>\n                        <ops:adapterKindKey>VMWARE</ops:adapterKindKey>\n                        <ops:resourceKindKey>Datastore</ops:resourceKindKey>\n                        <ops:aggregation>ALL</ops:aggregation>\n                        <ops:symptomSetOperator>AND</ops:symptomSetOperator>\n                    </ops:symptom-set>\n                    <ops:symptom-set>\n                        <ops:symptomDefinitionIds>\n                            <ops:symptomDefinitionId>Symptom100</ops:symptomDefinitionId>\n                            <ops:symptomDefinitionId>Symptom101</ops:symptomDefinitionId>\n                        </ops:symptomDefinitionIds>\n                        <ops:relation>SELF</ops:relation>\n                        <ops:aggregation>ALL</ops:aggregation>\n                        <ops:symptomSetOperator>OR</ops:symptomSetOperator>\n                    </ops:symptom-set>\n                </ops:symptom-sets>\n            </ops:composite-symptom-set>\n            <ops:impact>\n                <ops:impactType>BADGE</ops:impactType>\n                <ops:detail>health</ops:detail>\n            </ops:impact>\n        </ops:state>\n    </ops:states>\n</ops:alert-definition>\n"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/alert-definition"
                }
              }
            },
            "description": "The created Alert Definition"
          }
        },

        "tags": [
          "Alerts"
        ],
        "deprecated": false,
        "description": "Once the Alert Definition is created, a unique identifier will be generated by the system for the Alert Definition",
        "operationId": "createAlertDefinitionUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alert-definition"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/alert-definition"
              }
            }
          },
          "description": "The Alert Definition that needs to be created",
          "required": true
        },
        "summary": "Create an Alert Definition"
      },
      "put": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"id\" : \"f080147f-c60d-4f08-8801-b602e2931b6f\",\n  \"name\" : \"High CPU/Memory Usage\",\n  \"description\" : \"CPU or MEM usage too High\",\n  \"adapterKindKey\" : \"VMWARE\",\n  \"resourceKindKey\" : \"HostSystem\",\n  \"waitCycles\" : 3,\n  \"cancelCycles\" : 2,\n  \"type\" : 0,\n  \"subType\" : 0,\n  \"states\" : [ {\n    \"severity\" : \"WARNING\",\n    \"base-symptom-set\" : {\n      \"type\" : \"SYMPTOM_SET_COMPOSITE\",\n      \"operator\" : \"AND\",\n      \"symptom-sets\" : [ {\n        \"type\" : \"SYMPTOM_SET\",\n        \"adapterKindKey\" : \"VMWARE\",\n        \"resourceKindKey\" : \"Datastore\",\n        \"relation\" : \"DESCENDANT\",\n        \"aggregation\" : \"ALL\",\n        \"symptomSetOperator\" : \"AND\",\n        \"symptomDefinitionIds\" : [ \"Symptom5\", \"!Symptom6\" ],\n        \"alertConditions\" : [ {\n          \"waitCycles\" : 5,\n          \"cancelCycles\" : 5,\n          \"severity\" : \"CRITICAL\",\n          \"condition\" : {\n            \"type\" : \"CONDITION_HT\",\n            \"key\" : \"cpu|demandmhz\",\n            \"operator\" : \"GT_EQ\",\n            \"valueType\" : \"NUMERIC\",\n            \"instanced\" : false,\n            \"targetKey\" : \"cpu|availablemhz\",\n            \"thresholdType\" : \"STATKEY\"\n          }\n        } ]\n      }, {\n        \"type\" : \"SYMPTOM_SET\",\n        \"relation\" : \"SELF\",\n        \"aggregation\" : \"ALL\",\n        \"symptomSetOperator\" : \"OR\",\n        \"symptomDefinitionIds\" : [ \"Symptom100\", \"Symptom101\" ]\n      } ]\n    },\n    \"impact\" : {\n      \"impactType\" : \"BADGE\",\n      \"detail\" : \"health\"\n    }\n  } ]\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/alert-definition"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
[...]
